saturn_launcher
venv
logs
build
dist
__pycache__
config.json
.env
PUBLISHING.md
*.flatpak
repo-*/
pkg
saturn-launcher-1.0.0-1-any.pkg.tar.zst
saturn-launcher-debug-1.0.0-1-any.pkg.tar.zst
saturn-launcher-gui-1.0.0-1-any.pkg.tar.zst
